@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manjari', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.ht-color {
    color: #9fb7ff;
}

/***header ***/

#header-bg{
  background-color: #ffffff;
  height: 7.5vh;
  filter: drop-shadow(0 0 8px #0003);
}

#fwd-arrow{
  width: 32px;
  height: 32px;
  display: none;
}

#div-settings{
  text-align: right;
}

#header-title{
  vertical-align: middle;
}

#logo-align{
  text-align: left;
}

#logo-ht{
  height: 32px;
  width: 32px;
}

#ht{
    font-family: 'Permanent Marker', cursive;
    font-size: 5vmin;
    margin: 0 auto;
}

#header-ht-a{
    display:flex; 
    align-items: center;
}

/*** fim header ***/

/**** status bar  ******/

#statusbar{
    min-height: 10vh;
    width: 100%;
    background-color: #cdd2e2;
    display: flex;
    float: clear;
    position: relative;
}

#statusbar-img{
  width: 500px;
  max-width: 100%;
  display: flex;
  margin: auto;
}

/* main  */
#main{
    background-color: #9fb7ff;
    margin: none;
}

#cadastro{
    font-weight: bold;
    font-size: 5vmin;
}

#cadastro-p{
    font-size: 3vmin;
}


/*** FORMULÁRIO ***/

#form-div{
    z-index: -1;
}

#form-div{
    margin-top: 4vh;
    margin-bottom: 9vh;
}

#info-link{
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 7vmin;
    background-color: #9fb7ff;
    font-size: 2vmin;
    font-weight: 900;
    transition: .5s;
}

#limpar:hover{
  font-weight: 900;
  color: #3869ff;
}

/*** FOOTER ***/

footer{
  width: 100%;
  height: 7vh;
  background-color: #9fb7ff;
  position: fixed;
  bottom: 0;
  display:flex; 
  align-items: center;
}

#footer-row{
  width: 100%;
  margin: auto;
  bottom: 0;
}

footer h2 {
  font-size:2vmin;
  float: left;
}

#footer-h2 span{
  font-family: 'Permanent Marker', cursive;
}

#footer-div{
  margin: #9fb7ff;
  min-height: 30px;
  display: inline-block;
  padding-left: auto;
  margin: auto 0 auto auto;
}

#redes-sociais{
    width: 32px;
    height: 32px;    
    float: right;   
    display: flex;
    padding-left: auto;
    margin: auto 0 auto 0;
}

#facebook{
    margin-left: auto;
    margin-right: 0; 
}

#twitter{
  margin-left: 5px;
  margin-right: 0; 
}

#linkedin{
  margin-left: 5px;
  margin-right: 0; 
}

#instagram{
  margin-left: 5px;
  margin-right: 5px; 
}